@import '../../global/global-variables.scss';

.paragraph {
  color: $global-color-shade-500;
  font-family: $global-font-family-body;
  font-size: $global-font-size-400;
  font-weight: $global-font-weight-300;
  line-height: $global-line-height-400;
  margin-bottom: $global-gutter-300;
}
