@import '../../global/global-variables.scss';

$h2-font-family: $global-font-family-titles;
$h2-font-weight: $global-font-weight-600;
$h2-font-size: $global-font-size-500;
$h2-color: $global-color-shade-600;
$h2-line-height: rem-calc(26);
$h2-margin-bottom: $global-gutter-300;

.heading-two {
  color: $h2-color;
  font-family: $h2-font-family;
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
  margin-bottom: $h2-margin-bottom;
}
