@import '../../global/global-variables.scss';

.heading-three {
  color: $global-color-shade-600;
  font-family: $global-font-family-titles;
  font-size: $global-font-size-400;
  font-weight: $global-font-weight-600;
  line-height: $global-font-size-400;
}
