@import '../global';

$button-font: $global-font-family-titles;
$button-font-size: $global-font-size-300;
$button-line-height: $global-font-size-300;
$button-border-style: solid;
$button-border-width: rem-calc(1);
$button-margin-bottom: $global-gutter-300;

$button-padding: rem-calc(10) rem-calc(14);
$button-border-radius: $global-border-radius-200;
$button-height: rem-calc(40);

$button-disabled-background-color: $global-color-shade-200;
$button-disabled-text-color: $global-color-shade-400;
$button-disabled-border-color: $global-color-shade-200;

$button-primary-text-color: $global-color-shade-000;
$button-primary-background-color: $global-color-primary-400;
$button-primary-border-color: $global-color-primary-400;
$button-primary-hover-background-color: $global-color-primary-400;
$button-primary-hover-border-color: $global-color-primary-400;

.button {
  border-style: $button-border-style;
  border-width: $button-border-width;
  display: table;
  justify-content: center;
  font-weight: $global-font-weight-600;
  font-size: $button-font-size;
  line-height: $button-line-height;
  font-family: $button-font;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: $button-margin-bottom;
  transition: background-color 120ms ease-in, box-shadow 120ms ease-in;
  padding: $button-padding;
  border-radius: $button-border-radius;
  height: $button-height;

  @include accessibility-focus-outline;

  &:last-child {
    margin-bottom: 0;
  }

  &[disabled] {
    background-color: $button-disabled-background-color;
    color: $button-disabled-text-color;
    border-color: $button-disabled-border-color;
    cursor: not-allowed;
  }

  &--primary {
    color: $button-primary-text-color;
    background-color: $button-primary-background-color;
    border-color: $button-primary-border-color;

    &:hover,
    &:focus {
      &:not([disabled]) {
        background-color: $button-primary-hover-background-color;
        border-color: $button-primary-hover-border-color;
      }
    }
  }
}
