@import '../global/global-variables.scss';

.bullet-layout {
  display: flex;
  flex-direction: row;
  margin-bottom: $global-gutter-300;
  white-space: nowrap;

  &:last-child {
    margin-bottom: 0;
  }

  &__bullet-point {
    display: flex;
    align-items: center;
    margin-right: $global-gutter-300;
  }

  &__content {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
  }
}
