@import '../../global/global-variables.scss';

$h1-font-family: $global-font-family-titles;
$h1-font-weight: $global-font-weight-600;
$h1-font-size: $global-font-size-600;
$h1-color: $global-color-shade-600;
$h1-line-height: rem-calc(30);
$h1-margin-bottom: $global-gutter-300;

.heading-one {
  color: $h1-color;
  font-family: $h1-font-family;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;
  margin-bottom: $h1-margin-bottom;
}
