@import '../../global/global-variables.scss';

$h6-font-family: $global-font-family-titles;
$h6-font-weight: $global-font-weight-300;
$h6-font-size: $global-font-weight-300;
$h6-color: $global-color-primary-400;
$h6-line-height: $global-line-height-400;
$h6-margin-bottom: $global-gutter-300;

.heading-six {
  color: $h6-color;
  font-family: $h6-font-family;
  font-size: $h6-font-size;
  font-weight: $h6-font-weight;
  line-height: $h6-line-height;
  margin-bottom: $h6-margin-bottom;
}
