@import './global-functions.scss';

$global-font-family-titles: 'Nunito Sans', sans-serif;
$global-font-family-body: 'Nunito Sans', sans-serif;

$global-font-weight-600: 600;
$global-font-weight-300: 300;

$global-line-height-400: 1.6em;

$global-border-radius-200: rem-calc(4);
$global-border-width: rem-calc(2);

$global-font-size-600: rem-calc(22);
$global-font-size-500: rem-calc(18);
$global-font-size-400: rem-calc(16);
$global-font-size-300: rem-calc(14);
$global-font-size-200: rem-calc(12);

$global-color-primary-300: #5ca1f7;
$global-color-primary-400: #0d66e5;

$global-color-accent-100: #fc4aba;
$global-color-accent-200: #ffb229;
$global-color-accent-300: #4acc94;
$global-color-accent-400: #d33f3f;

$global-color-shade-000: #ffffff;
$global-color-shade-100: #f6f6f6;
$global-color-shade-200: #b8b8c7;
$global-color-shade-300: #878796;
$global-color-shade-400: #5c5c70;
$global-color-shade-500: #1a1a3b;
$global-color-shade-600: #0a0d36;

$global-gutter-300: rem-calc(8);
$global-gutter-400: rem-calc(16);
