@import './global-functions.scss';

$global-font-family-titles: 'Nunito Sans', sans-serif;
$global-font-family-body: 'Nunito Sans', sans-serif;

$global-font-weight-600: 600;
$global-font-weight-500: 500;
$global-font-weight-400: 400;
$global-font-weight-300: 300;
$global-font-weight-100: 100;

$global-line-height-400: 1.6em;

$global-border-radius: rem-calc(4);

$global-font-size-600: rem-calc(18);
$global-font-size-500: rem-calc(14);
$global-font-size-400: rem-calc(13);
$global-font-size-300: rem-calc(12);
$global-font-size-200: rem-calc(11);
$global-font-size-100: rem-calc(8);

$global-color-primary-300: #8fc1e0;
$global-color-primary-350: #44a9e2;
$global-color-primary-400: #267bab;
$global-color-primary-500: #1a6088;

$global-color-secondary-300: #fb8098;
$global-color-secondary-350: #ff5a5a;
$global-color-secondary-400: #dd294a;

$global-color-shade-100: #ffffff;
$global-color-shade-200: #ebebeb;
$global-color-shade-300: #818181;
$global-color-shade-400: #4a4a49;
$global-color-shade-500: #283742;
$global-color-shade-600: #2a2c2d;

$global-gutter-300: rem-calc(12);
