@import './global-functions.scss';

@mixin accessibility-focus-outline {
  &:focus {
    outline-style: dotted;
    outline-offset: rem-calc(3);
    outline-color: $global-color-primary-400;
    outline-width: rem-calc(3);
  }
}
