@import '../../global/global-variables.scss';

$h5-font-family: $global-font-family-titles;
$h5-font-weight: $global-font-weight-400;
$h5-font-size: $global-font-size-200;
$h5-color: $global-color-shade-500;
$h5-line-height: $global-line-height-400;
$h5-margin-bottom: $global-gutter-300;

.heading-five {
  color: $h5-color;
  font-family: $h5-font-family;
  font-size: $h5-font-size;
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;
  margin-bottom: $h5-margin-bottom;
}
